// 修改成你期望的字体族
$font-family-base = "SF Pro SC","SF Pro Text","SF Pro Icons","Source Code Pro", Source Code Pro Light
$font-family-chinese = "SF Pro SC","SF Pro Text","SF Pro Icons","Source Code Pro", Source Code Pro Light
$font-family-logo = "SF Pro SC","SF Pro Text","SF Pro Icons","Source Code Pro", Source Code Pro Light
$font-family-posts = "SF Pro SC","SF Pro Text","SF Pro Icons","Source Code Pro", Source Code Pro Light
$font-family-monospace = "SF Pro SC","SF Pro Text","SF Pro Icons","Source Code Pro", Source Code Pro Light
// 标题，修改成你期望的字体族
$font-family-headings = "SF Pro SC","SF Pro Text","SF Pro Icons","Source Code Pro", Source Code Pro Light

// 代码字体
$code-font-family = "Source Code Pro", Source Code Pro Light

// 正文字体的大小
$font-size-base = 15px

// 代码字体的大小
$code-font-size = 15px
